<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MSViewControllerTransitionDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC4556BC1C8FC7ED00467591</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC4556D51C8FC7ED00467591</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC4556E01C8FC7ED00467591</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
